@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    text-align: center;
}

body {
    background-color: rgb(20, 21, 26);
}

header {
    padding: 20px;
    background-color: white;
}

.score {
    border: 3px solid white;
    border-radius: 4px;
    margin: 50px auto 20px;
    width: 220px;
    position: relative;
    color: white;
}

.tag {
    background-color: red;
    font-size:0.9em;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 2px;

}

#tag-you {
    position: absolute;
    top: 35px;
    left: -18px;
    padding: 1px 6.5px;
}

#tag-comp {
    position: absolute;
    top: 35px;
    right: -22px;
}

span {
    font-size: 80px;
}

#result {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 20px auto 50px;
}

.choices {
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    display: flex;
    font-size: 96px;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    width: 123px;
    transition: 0.3s;
}

.choice:hover {
    cursor: pointer;
    background-color: black;

}

.action-command {
    color: white;
    font-size: 24px;
    margin-top: 25px;
    text-align: center;
}

.green-glow {

    border-color: #08c508;
    box-shadow: 0 0 10px #00a700 ;
}

.red-glow {

    border-color: #e7190b;
    box-shadow: 0 0 10px #c50505 ;
}

.blue-glow {

    border-color: #0b87da;
    box-shadow: 0 0 10px #026796 ;
}

#reset-div {
    padding-top: 50px;
    text-align: center;
}

.refresh-button-style {
    background-color: red;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    transition: all .2s ease-in-out;
}

.refresh-button-style:hover {
    cursor: pointer;
    transform: scale(1.1);
}
